#cat {

position: absolute;
top: 150px;
}

img:hover{
    height: 600px;
    width: 600px;
}
img:hover {
  animation: 4s rainbow forwards;
}
@keyframes rainbow {
  0% { background: #c00; }
  50% { background: orange; }
  100% { background: darkgrey; }
}
